/.idea
/venv
/csv_files
/csv_files_dif_currencies
/csv_files_dif_currencies_temp
*.csv
*.png
*.xlsx
*.pdf
*.pstats
3-5-/vacancies_dif_currencies.sqlite
!checked/3-2-2.csv
!3-4-1.csv
!3-3-2.csv
!report_3-4-2.pdf
!report_3-4-3.pdf
!currencies.csv
